<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
	<%= render 'layouts/header' %>
<body>
	<div id = "container">
			<%= yield %>
				<%= debug(params) if Rails.env.development? %>
	</div>
</body>
</html>
